{% extends "base.html" %}

{% block content %}

<div class="col-md-8">
  <div class="panel panel-default">
	  <div class="panel-heading">
	  	<h3 class="panel-title">{{ graph_name }}</h3>
	  </div>
	  <div class="panel-body">
	  
	  	{% if graph_type == "node" %}
	  		{% include "node.html"%}
	  	{% elif graph_type == "tree" %}
	  		{% include "tree.html"%}
	  	{% elif graph_type == "list" %}
	  		{% include "list.html"%}
	  	{% elif graph_type == "time" %}
	  		{% include "time.html"%}
	  	{% elif graph_type == "event" %}
	  		{% include "event.html"%}
	  	{% else %}
	  	<h4>--Error: Graph Type--</h4>
	  	Graph type: {{ graph_type }} </br>
	  	Graph name: {{ graph_name }} </br>
	  	{% endif %}
	  
	  </div>
	</div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
	  <div class="panel-heading">
	  	<h3 class="panel-title">Parameters</h3>
	  </div>
	  <div class="panel-body">
	  
	  	{% if graph_type == "node" %}
	  		{% include "node_sidebar.html"%}
	  	{% elif graph_type == "tree" %}
	  		{% include "tree_sidebar.html"%}
	  	{% elif graph_type == "list" %}
	  		{% include "list_sidebar.html"%}
	  	{% elif graph_type == "time" %}
	  		{% include "time_sidebar.html"%}
	  	{% elif graph_type == "event" %}
	  		{% include "event_sidebar.html"%}
	  	{% else %}
	  	<h4>--Error: Graph Type--</h4>
	  	Graph type: {{ graph_type }} </br>
	  	Graph name: {{ graph_name }} </br>
	  	{% endif %}
	  	
	  </div>
	</div>
</div>


	
{% endblock %}