{% extends "base.html" %}

{% block content %}

<div class="col-md-8">
  <div class="panel panel-default">
	  <div class="panel-heading">
	  	<h3 class="panel-title">{{ graph_name }}</h3>
	  </div>
	  <div class="panel-body">
	  	{% if graph_type == "node" %}
				{% include "node_alt_3.html"%}
			{% elif graph_type == "tree" %}
				{% include "tree_alt_2.html"%}
			{% endif %}
	  </div>
	</div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
	  <div class="panel-heading">
	  	<h3 class="panel-title">Parameters</h3>
	  </div>
	  <div class="panel-body">
	  	{% include "sidebar.html"%}
	  </div>
	</div>
</div>


	
{% endblock %}