<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
     <a class="navbar-brand" href="/">Graphic Learnin</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      
      	{% if graph_type == "node" %}
      	<li class="dropdown active">
      	{% else %}
      	<li class="dropdown">
      	{% endif %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Node <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/graph?graph_type=node&graph_name=Node Location">Location</a></li>
            <li class="divider"></li>
            <li><a href="/graph?graph_type=node&graph_name=Node Example 1">Example 1</a></li>
            <li><a href="/graph?graph_type=node&graph_name=Node Example 2">Example 2</a></li>
            <li><a href="/graph?graph_type=node&graph_name=Node Example 3">Example 3</a></li>
            <li><a href="/graph?graph_type=node&graph_name=Node Example 4">Example 4</a></li>
            <li><a href="/graph?graph_type=node&graph_name=Node Example 4">Example 5</a></li>
            <li><a href="/graph?graph_type=node&graph_name=Node Example 4">Example 6</a></li>
          </ul>
         </li>
         
        {% if graph_type == "tree" %}
      	<li class="dropdown active">
      	{% else %}
      	<li class="dropdown">
      	{% endif %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tree <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/graph?graph_type=tree&graph_name=Tree Software">Software</a></li>
            <li class="divider"></li>
            <li><a href="/graph?graph_type=tree&graph_name=Tree Example 1">Example 1</a></li>
            <li><a href="/graph?graph_type=tree&graph_name=Tree Example 2">Example 2</a></li>
            <li><a href="/graph?graph_type=tree&graph_name=Tree Example 3">Example 3</a></li>
          </ul>
         </li>
         
        {% if graph_type == "list" %}
      	<li class="dropdown active">
      	{% else %}
      	<li class="dropdown">
      	{% endif %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">List <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/graph?graph_type=list&graph_name=List Item">Item</a></li>
            <li class="divider"></li>
            <li><a href="/graph?graph_type=list&graph_name=List Example 1">Example 1</a></li>
            <li><a href="/graph?graph_type=list&graph_name=List Example 2">Example 2</a></li>
            <li><a href="/graph?graph_type=list&graph_name=List Example 3">Example 3</a></li>
          </ul>
         </li>
         
        {% if graph_type == "time" %}
      	<li class="dropdown active">
      	{% else %}
      	<li class="dropdown">
      	{% endif %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Time <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/graph?graph_type=time&graph_name=Time">Time-X</a></li>
            <li class="divider"></li>
            <li><a href="/graph?graph_type=time&graph_name=Time Example 1">Example 1</a></li>
            <li><a href="/graph?graph_type=time&graph_name=Time Example 2">Example 2</a></li>
            <li><a href="/graph?graph_type=time&graph_name=Time Example 3">Example 3</a></li>
          </ul>
         </li>
        
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
