{% if graph_name == "Node Location" %}
	{% include "node_location.html"%}
{% elif graph_name == "Node Example 1" %}
	{% include "node_example_1.html"%}
{% elif graph_name == "Node Example 2" %}
	{% include "node_example_2.html"%}
{% elif graph_name == "Node Example 3" %}
	{% include "node_example_3.html"%}
{% elif graph_name == "Node Example 4" %}
	{% include "node_example_4.html"%}
{% elif graph_name == "Node Example 5" %}
	{% include "node_example_5.html"%}
{% elif graph_name == "Node Example 6" %}
	{% include "node_example_6.html"%}
{% elif graph_name == "Node Example 7" %}
	{% include "node_example_7.html"%}
{% else %}
<h4>--Error: Graph Name--</h4>
Graph type: {{ graph_type }} </br>
Graph name: {{ graph_name }} </br>
{% endif %}