<div id="chart" style="margin:20px"></div>

<style type="text/css">


	.link 
	{
	  	stroke: #000;
	  	stroke-width: 2.0px;
	}

	.node 
	{
	  	cursor: move;
	}

	.location
	{
		  
	}

	.location .condensed
	{
		
	}
	
	.location .symbol
	{
	   	fill: #ccc;
     	stroke: black;
     	stroke-width: 1.8px;
	}

	.location .label
	{
		font-family: Verdana, sans-serif;
		font-size: 12pt;
		font color: black;
		font-style: normal;
		font-weight: lighter;
	}
	
	.host
	{
	  	fill: blue;
	  	stroke: #000;
	  	stroke-width: 1.5px;
	}

</style>

<script src="/static/js/sprintf.js"></script>

<script type="text/javascript">

	// Graphic parameters
	// --------------------------------------------------------------------------------------------------
	var width  = 600;
	var height = 400;

	var nodes = [];
	var links = [];

	var link_distance = 40;
	var node_charge = -500;

	var location_height = 30;
	var location_width = 80;

	var host_inner_radius = 0;
	var host_outer_radius = 10;


	// Initial data
	// --------------------------------------------------------------------------------------------------
	nodes = [
    			{id: 0, name: "GaTech", node_type: "location", hosts: [], fixed: true, x: 100, y: 100},
    			{id: 1, name: "Host 1", node_type: "host", hosts: [], fixed: false, x: 200, y: 200},
    			{id: 2, name: "Host 2", node_type: "host", hosts: [], fixed:false, x: 300, y: 300},
    			{id: 3, name: "Lab", node_type: "location", hosts: [], fixed: true, x: 300, y: 100},
        		{id: 4, name: "Host 3", node_type: "host", hosts: [], fixed: false, x: 400, y: 200},
        		{id: 5, name: "Host 4", node_type: "host", hosts: [], fixed:false, x: 400, y: 300}
	  		];
	links = [
    			{source: nodes[0], target: nodes[1]},
    			{source: nodes[0], target: nodes[2]},
    			{source: nodes[3], target: nodes[4]},
        		{source: nodes[3], target: nodes[5]}
	  		];


	// D3 and svg setup
	// --------------------------------------------------------------------------------------------------
	var force = d3.layout.force()
	    		  .size([width, height])
	    		  .nodes(nodes)
	     		  .links(links)
	    		  .charge(node_charge)
	    		  .linkDistance(link_distance)
	    		  .on("tick", tick);

	var drag = force.drag()
	    			.on("dragstart", dragstart);

	var svg = d3.select('#chart')
	  			.append('svg')
	  			.attr('width', width)
	  			.attr('height', height);

	var link_element = svg.selectAll(".link");
	var node_element = svg.selectAll(".node")

    force.nodes(nodes)
	     .links(links);
    

	// Simulation functions
	// --------------------------------------------------------------------------------------------------
    function tick()
	{
		link_element.attr("x1", function(d) { return d.source.x; })
	      			.attr("y1", function(d) { return d.source.y; })
	      			.attr("x2", function(d) { return d.target.x; })
	      			.attr("y2", function(d) { return d.target.y; });
	      	
	   node_element.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
	}

	function update()
	{
		console.log("Updating the data and UI.");

		// Data join
		link_element = link_element.data(links);
		node_element = node_element.data(nodes);

		// Update
		// ?

		// Enter
		link_element.enter().append("line")
      		   				.attr("class", "link");
		node_element.enter().append("g")
				      		.attr("class", "node")
				      		.call(drag)
				      		.attr('x', function(d){return d.x})
							.attr('y', function(d){return d.y})
				      		.append("g")
				      		.attr("class", function(d) { return d.node_type });

		createLocations();
    	createHosts();

		// Enter + update
		// ?

		// Exit
		link_element.exit().remove();
		node_element.exit().remove();

		// Run simulation
		force.start()
	}


	// Graphic helper functions  	
	// --------------------------------------------------------------------------------------------------	           	   
    var createLine = d3.svg.line()
                         .x(function(d) { return d.x; })
                         .y(function(d) { return d.y; })
                         .interpolate("linear");

    var createCircle = d3.svg.arc()
							 .startAngle(0)
							 .endAngle(6.28318531)
							 .innerRadius(host_inner_radius)
							 .outerRadius(host_outer_radius);
     

    // Graphic functions for svg elements     
    // --------------------------------------------------------------------------------------------------   
    function createLocations()
    {
    	console.log("Creating locations.");

		var location = svg.selectAll(".location");

		location.on("dblclick", function(d) { toggleHosts(d); });
    	
    	var symbol = location.append('path')
	          					  .attr("class", "symbol")
	          					  .attr('d', 
	          					  		function(d)
	          					  		{
	          					  			h = location_height;
											w = location_width;
											x = -w/2;
											y = -h/2;

											var points = [ 
													   		{"x": x, "y": y},
													   		{"x": x + w, "y": y},
													   		{"x": x + w, "y": y + h},
													   		{"x": x, "y": y + h}, 
													   		{"x": x, "y": y} 
													 	 ];

											return createLine(points); 
	          					  		}
          					  	   );

	    var text = location.append("text")
								  .attr("class", "label")
								  .attr("dx", 0)
								  .attr("dy", ".25em")
								  .attr("text-anchor", "middle")
    							  .text(
    							  	function(d) 
    							  	{
    							  		return d.name; 
    							  	}
    							  );
    }

    function createHosts()
    {
    	console.log("Creating hosts.");

    	svg.selectAll(".host").append('path')
          		  			  .attr("class", "symbol")
          		  			  .attr('d', 
          		  				function(d)
          		  				{
									return createCircle(); 
          		  				}
          		  			  );
    }


    // UI events
    // --------------------------------------------------------------------------------------------------
    function toggleHosts(d)
    {
    	console.log("Click bro: toggle");
    }

    function dragstart(d) 
	{
	  	//d.fixed = true;
	  	//d3.select(this).classed("fixed", true);
	}

	
    // Main
	// --------------------------------------------------------------------------------------------------
    $(document).ready(function () 
    {
		update();
	});

	
</script>