{% if graph_name == "Node Location" %}
	{% include "node_location_sidebar.html"%}
{% elif graph_name == "Node Example 1" %}
	{% include "node_example_1_sidebar.html"%}
{% elif graph_name == "Node Example 2" %}
	{% include "node_example_2_sidebar.html"%}
{% elif graph_name == "Node Example 3" %}
	{% include "node_example_3_sidebar.html"%}
{% elif graph_name == "Node Example 4" %}
	{% include "node_example_4_sidebar.html"%}
{% elif graph_name == "Node Example 5" %}
	{% include "node_example_5_sidebar.html"%}
{% elif graph_name == "Node Example 6" %}
	{% include "node_example_6_sidebar.html"%}
{% elif graph_name == "Node Example 7" %}
	{% include "node_example_7_sidebar.html"%}
{% elif graph_name == "Node Example 8" %}
	{% include "node_example_8_sidebar.html"%}
{% else %}
<h4>--Error: Graph Name--</h4>
Graph type: {{ graph_type }} </br>
Graph name: {{ graph_name }} </br>
{% endif %}