<style>

	.node-data
	{
		line-height: 300%;
	}

</style>

<form class="form-horizontal">
	<fieldset>
		<div class="node-data">

			<div class="row">
				<div class="col-md-4">
					<label for="textinput">Node name</label>
				</div>
				<div class="col-md-8">
					<input id="node-name" type="text" value="" class="input" placeholder="" readonly>
					<a href="#"><i class="fa fa-pencil"></i></a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<label for="textinput">X Position</label>
				</div>
				<div class="col-md-8">
					<input id="node-x-position" type="text" value="" class="input" placeholder="" readonly>
					<a href="#"><i class="fa fa-pencil"></i></a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<label for="textinput">Y Position</label>
				</div>
				<div class="col-md-8">
					<input id="node-y-position" type="text" value="" class="input" placeholder="" readonly>
					<a href="#"><i class="fa fa-pencil"></i></a>
				</div>
			</div>

		</div>
	</fieldset>
</form>


